.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App label {
  font-weight: bold;
}

@media screen and (max-width: 700px){

}

@media screen and (max-width: 400px){

}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.error {
  color: red;
}

/* por debajo de 768px*/
@media screen and (max-width: 768px){
  .App h1 {
    font-size:35px;
  }
  .App h3 {
    font-weight: bold;
    font-size:15px;
  }
  .code-available {
    font-size:15px;
  }
}

/* por debajo de 480px*/
@media screen and (max-width: 480px){
  .App h1 {
    font-size:20px;
  }
  .App h3 {
    font-weight: bold;
    font-size:10px;
  }
  .code-available {
    font-size:10px;
  }
}

/* por debajo de 320px*/
@media screen and (max-width: 320px) {
  .App h1 {
    font-size: 15px;
  }
  .App h3 {
    font-weight: bold;
    font-size: xx-small;
  }
  .code-available {
    font-size: xx-small;
  }
}